.blogs {
    position: absolute;
    left: 70%;
    top: 0%;
    margin-top: 40px;
    padding: 5px;
    width: 200px;
    background-color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
